@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600');

* { box-sizing: border-box; }
body { background-color: #D5E7F1 !important; }

/* Text stuff */
h1 {
    color: #00586e;
    font-family: 'Antonio', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 22px !important;
    color: #00586e;
}
p {
    color: #002129;
    font-family: 'Segoe UI', sans-serif;
}
a {
    color: #F2CEE6;
}

hr {
    border-top: 1px solid #62676A !important;
    width: 66%;
}

/* Specific IDs */
#bio { float: left; }
#projects { width: 100%; margin: 16px auto 0; }
#darkButton  {
    filter: sepia(100%);
    filter: invert(80%);
    background: none;
    border: none;
}
#darkButton img {
    filter: invert(100%);
}
#darkButton img:hover {
    filter: invert(80%);
    transition: filter 0.5s;
}

.btn {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

.emoji {
    font-size: 100px;
}

/* Dark theme */
.dark {
    background-color: #0D1B1E !important;
}
.dark hr {
    border-top: 2px solid #D0EDF1 !important;
}
.dark h1 {
    color: #E8DCB9;
}
.dark h2 {
    color: #E8DCB9;
}
.dark p {
    color: white;
}
.dark a {
    color: #C3DBC5;
}
.dark a:hover {
    color: #9EFFA6;
}
.dark #gh {
    filter: invert(100%);
}
.dark #darkButton {
    filter: sepia(100%);
}
.dark .navbar-toggler-icon {
    filter: invert(100%);
}

.vertical-center {
    min-height: 94%;
    min-height: 94vh;
    display: flex;
    align-items: center;
}

.navbar {
    background: rgba(0,0,0,0)
}

.mdisplay {
    display: inline-block;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 80px !important;
    }
    h2, p {
        font-size: 40px !important;
    }
    nav {
        margin: 20px;
    }
    #darkButton img {
        height: 50px;
    }
    #portfolio {
        clear: left;
        padding: 4rem 0;
    }
    .vertical-center{
        min-height: auto;
    }
    .btn {
        width: 100%;
        height: 300px;
    }
    .img {
        height: 300px !important;
    }
    .emoji {
        font-size: 180px;
    }
    .mdisplay {
        display: none;
    }
    .navbar-toggler-icon {
        background-image: url("https://cdn0.iconfinder.com/data/icons/user-interface-151/24/List_menu_toggle-512.png");
    }
}