@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Open+Sans:wght@350&display=swap');

body {
    background-color: #98c4dd !important;
}

h1 {
    color: #00586e;
    font-family: 'Antonio', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px !important;
    color: #00586e;
}

p {
    color: #002129;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #F2CEE6;
}

.btn {
    width: 200px;
    height: 200px;
}

.emoji {
    font-size: 100px;
}

.dark {
    background-color: #0D1B1E !important;
}
.dark h1 {
    color: #E8DCB9;
}
.dark h2 {
    color: #E8DCB9;
}
.dark p {
    color: white;
}
.dark a {
    color: #C3DBC5;
}
.dark a:hover {
    color: #9EFFA6;
}
.dark #gh {
    filter: invert(100%);
}

#darkButton {
    background: none;
    border: none;
}

#darkButton img {
    filter: invert(100%);
}

#darkButton img:hover {
    filter: invert(80%);
    transition: filter 0.5s;
}

.vertical-center {
    min-height: 94%;
    min-height: 94vh;
    display: flex;
    align-items: center;
}

#darkButton  {
    filter: sepia(100%);
    filter: invert(100%);
}

.dark #darkButton {
    filter: sepia(100%);
}

.navbar {
    background: rgba(0,0,0,0)
}

#mobileshow { 
    display:none; 
}
@media screen and (max-width: 767px) {
    #mobileshow { 
        display:inline-block;
    }
}